<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>詳細</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todoapp/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>することの詳細</h1>
        <div class="todo-detail">
            <div class="todo-title">{{ todo.titile }}</div>
            <div class="todo-memo">{{ todo.memo }}</div>

            <span class="todo-status {% if todo.completed %}completed{% else %}not-completed{% endif %}">{% if todo.completed %}完了{% else %}未完了{% endif %}</span>
            <div class="todo-date">
                作成日：{{ todo.created|date:"Y年m月d日" }}
            </div>
        </div>
        <div class="back-botton">
            <a href="{% url 'todo_list' %}" class="btn btn-secondary">一覧に戻る</a>
        </div>
    </div>
</body>
</html>