/* ===== メニューのスタイル ===== */
.menu-container {
    /* 3列のグリッド */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* グリッド項目間のスペース */
    gap: 20px;
    /* グリッド項目を中央揃え */
    justify-items: center;
    /* グリッド項目を中央揃え */
    align-items: center;
    /* 上部に50pxの余白 */
    margin-top: 50px;
}

.menu-item {
    /* カードの背景色 */
    background-color: #ffffff;
    /* テキストの色 */
    color: #3498db;
    /* 内側の余白 */
    padding: 20px;
    /* 角を丸くする */
    border-radius: 8px;
    /* テキストの装飾を無効化 */
    text-decoration: none;
    /* フォントサイズ */
    font-size: 1.2em;
    /* フォントの太さ */
    font-weight: 500;
    /* 影の設定 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    /* フレックスボックスを使用 */
    display: flex;
    /* コンテンツを中央揃え */
    justify-content: center;
    /* コンテンツを中央揃え */
    align-items: center;
    /* 幅を90%に設定 */
    width: 90%;
    /* 高さを100pxに設定 */
    height: 100px;
    /* テキストを中央揃え */
    text-align: center;
}

.menu-item:hover {
    /* ホバー時の背景色 */
    background-color: #3498db;
    /* ホバー時のテキスト色 */
    color: white;
    /* Y軸方向に5px移動 */
    transform: translateY(-5px);
    /* 影の設定 */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.menu-item:active {
    /* クリック時のY軸方向の移動 */
    transform: translateY(-2px);
}

.menu-header {
    /* 見出しを中央揃え */
    text-align: center;
    /* 下に30pxの余白を設定 */
    margin-bottom: 30px;
}